<!DOCTYPE html>
<html>
<head>
    <title>Example Template</title>
</head>
<body>
    <p>Logged in: {{ logged_in }}</p>
    <p>Not registering: {{ not_registering }}</p>
    <p>Current user ID: {{ current_user_id }}</p>
    <p>OTP sent: {{ otp_send }}</p>
    <p>Anonymous mode: {{ anonymous_mode }}</p>
    <p>Current user email: {{ current_user_email }}</`>
    <p>User OTP: {{ user_otp }}</p>
    <p>User object: {{ user_obj }}</p>
    <p>Username: {{ username }}</p>
    <p>User icon: {{ user_icon }}</p>
</body>
</html>
