{% include "headers.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://img.freepik.com/free-photo/silhouette-confident-businesspeople_1098-1768.jpg?w=1380&t=st=1712083177~exp=1712083777~hmac=12f0c72e67a3c1a121a08ea26e19b8d3cb62c83af0917335195c41c1a98243bd')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we have done.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Team Collaboration: The makers worked together as a team, pooling their expertise in web development, database management, and user interface design to bring the project to life.</p>
<p>Passionate Developers: Each member of the team is passionate about technology and coding. They were driven by a common goal to create a valuable tool for facilitating discussions and gathering insights within a college community.</p>
<p>Diverse Skill Set: The team members have diverse skills ranging from backend development with Python and Flask to frontend design and database management. This diversity enabled them to tackle different aspects of the project effectively.</p>
<p>Commitment to Quality: The makers are committed to delivering a high-quality product. They ensured that the project incorporated key features such as anonymous poll creation, sentiment analysis, user authentication, and responsive interface design.</p>
<p>Vision for the Project: The makers envisioned their project as a valuable resource for college events, providing a platform for discussions and polls that could enhance engagement and collaboration among students and administrators.</p>
<p>Continuous Improvement: Even after the project's completion, the makers are open to feedback and committed to continuous improvement. They strive to make their platform more user-friendly and feature-rich, aiming to support future digital events and contribute to the betterment of college communities.</p>
                    </div>
                </div>
            </div>
        </main>

<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Company, Inc</p>
    </footer>
</div>

{% include "footer.html" %}