{% include "headers.html" %}
<header class="masthead" 
style="background-image: url('https://images.unsplash.com/photo-1508138142660-302e69e74271?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>{{comment_user.username}}</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container_987">
  <img src="{{comment_user.icon}}" alt="Profile Picture" class="profile-picture_456">

  <div class="personal-info_789">
    <h2>Personal Information</h2>
    <p><strong>Username:</strong> {{comment_user.username}}</p>
    <p><strong>Email:</strong> {{comment_user.email}}</p>
    <!-- Move the Edit Profile button here -->
  </div>
</div>
{% include "user_activity.html" %}
{% include "footer.html" %}