
{% from "bootstrap5/form.html" import render_form %} 
{% include "headers.html" %} 
<header class="masthead" 
style="background-image: url('https://img.freepik.com/premium-vector/administrator-business-minimal-infographic-web-banner-vector-analyzing-researching-chart-people-administrator-occupation-interview-purchases-color-illustration_87720-4412.jpg?w=1800')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>WELCOME ADMIN</h3>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form method = 'POST' action = "{{ url_for('for_admin') }}">
            {{  render_form(database_form) }}
          </form>
        </div>
      </div>
    </div>
  </main>

{% include "footer.html" %} 