
</footer>

</body>
<script>
    const otpInputs = document.querySelectorAll('.otp-input');

    otpInputs.forEach(input => {
      input.addEventListener('input', (e) => {
        const text = e.target.value;
        if (text.length === 1) {
          const nextInput = input.nextElementSibling;
          if (nextInput) {
            nextInput.focus(); // Move focus to the next input box
          }
        } else if (text.length === 0) {
          const prevInput = input.previousElementSibling;
          if (prevInput) {
            prevInput.focus(); // Move focus to the previous input box
          }
        }
      });
    });
</script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
  