{% include "headers.html" %}

<header class="masthead" 
style="background-image: url('https://plus.unsplash.com/premium_photo-1697730201744-9ec583002c40?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h3>{{quote}}</h3>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
</style>
</head>
<body>



<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for comment in comments %}
            
                <a href = "{{ url_for('show_comment',comment_id = comment.id) }}">
                    <div class="comment-container">
                        <div class="user-info">
                            {% if comment.anonymous %}
                                <img src="https://cdn-icons-png.flaticon.com/512/4123/4123763.png" class="user-icon" />
                                <div class="username">{{ random_username }}</div>
                            {% else %}
                                <img src="{{ comment.comment_author.icon }}" class="user-icon" />
                                <div class="username">{{ comment.comment_author.username }}</div>
                            {% endif %}
                        </div>
                        <div class="datetime">{{ comment.date }}</div> <!-- Move this line up -->
                        <div class="comment-content">
                            <b><h4>{{ comment.head }}</h4></b>
                            {{ comment.body[:250]|safe }}.....
                        </div>
                        <div class="votes">
                            <span class="upvote" onclick="vote(this)">▲ {{ comment.upvote }}</span>
                            <span class="vote-count">0</span>
                            <span class="downvote" onclick="vote(this)">▼</span>
                            <span class="reply-button">↩</span>
                            <span class="save-button"><img src="https://cdn-icons-png.flaticon.com/128/9834/9834913.png" height="19" /></span>
                        </div>
                    </div>   
                </a>
            <hr class="animated-line">
            {% endfor %}

        </div> 
    </div>   
</div>

<div class="sticky-circle-container">
    <a href="{{ url_for('new_comment') }}">
        <div class="plus-symbol"><b>+</b></div>
        <div class="add-post-label"> <b>POST</b> </div>
    </a>
</div>
        
{% include "footer.html" %}
