{% include "headers.html" %}
<header class="masthead" style="background-image: url('https://as1.ftcdn.net/v2/jpg/04/51/13/70/1000_F_451137058_AxK9G8q8ApdMoj2lnkRhJeeTs0YONi4v.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h3>{{ user_obj.username}} is adding a new poll</h3>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for comment in comments %}
                <a href = "{{ url_for('show_comment',comment_id = comment.id) }}">
                    <div class="comment-container ">
                        <div class="user-info">
                            {% if comment.anonymous %}
                                <img src = "https://cdn-icons-png.flaticon.com/512/4123/4123763.png" class="user-icon" />
                                <div class="username">{{random_username}}</div></div>
                            {% else %}
                                <img src = "{{comment.comment_author.icon}}" class="user-icon" />
                                <div class="username">{{comment.comment_author.username}}</div></div>
                            {% endif %}
                            <div class="comment-content"><b><h4>{{ comment.head }}</h4></b></div>
                            <div class="comment-content">{{ comment.body[:250]|safe}}.....</div>
                            <div class="votes">
                            <span class="upvote" onclick="vote(this)">▲ {{ comment.upvote }}</span>
                            <span class="vote-count">0</span>
                            <span class="downvote" onclick="vote(this)">▼</span>
                            <span class="reply-button">↩</span> <!-- Reply button symbol -->
                            <span class="save-button"><img src="https://cdn-icons-png.flaticon.com/128/9834/9834913.png" height="19" /></span> <!-- Save button symbol -->
                            </div>
                
                    </div>
                    <hr class="animated-line">
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container px-4 px-lg-5 profile-card-container">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        {% for user in users %}
        <div class="profile-card1234" onclick="this.classList.toggle('flipped')">
            <div class="card1234">
                <div class="front123">
                    <img class="profile-pic123" src="{{user.icon}}" alt="User Profile Picture">
                    <div class="user-name123">{{user.username}}</div>
                </div>
                <div class="back123" style="padding: 20px; text-align: center;">
                    <p style="margin-bottom: 10px;"><b>Polls: 12</b></p>
                    <p style="margin-bottom: 10px;"><b>Participation: 12</b></p>
                        <form action = "{{ url_for('comment_profile', user_id=user.id) }}" method = "POST">
                            <button class="view-profile-btn" 
                            style="width: 80px; 
                            padding: 5px 10px; 
                            background-color: #ffc107; 
                            color: #fff; 
                            border: none; 
                            border-radius: 50px; 
                            font-size: 16px; 
                            text-transform: uppercase; 
                            transition: background-color 0.3s ease, 
                            transform 0.3s ease, 
                            box-shadow 0.3s ease;">
                            Profile</button>
                        </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


</body>
{% include "footer.html" %}
