

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">POLL</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">REPLY</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">SENTIMENT</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <center><h2>POLLS</h2></center>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for comment in comments %}
                            {% if (comment.anonymous == 0 and current_page == "comment_profile") or (comment.anonymous == 1 and current_page == "profile" or comment.anonymous == 0) %}
                                <a href = "{{ url_for('show_comment',comment_id = comment.id) }}">
                                    <div class="comment-container">
                                        {% if comment.anonymous %}
                                            <img src="https://cdn-icons-png.flaticon.com/512/4123/4123763.png" class="user-icon" />
                                            <div class="username">{{ random_username }}</div>
                                        {% else %}
                                            {% if comment.comment_author.uicon %}
                                                <img src="data:image/jpeg;base64,{{ comment.comment_author.uicon|b64encode_image }}"  class="user-icon">
                                            {% else %}
                                                <img src="{{ comment.comment_author.icon }}" class="user-icon" />
                                            {% endif %}
            
                                            <div class="username">{{ comment.comment_author.username }}</div>
                                        {% endif %}
                                        <div class="datetime">{{ comment.date }}</div> <!-- Move this line up -->
                                        <div class="comment-content">
                                            <b><h4>{{ comment.head }}</h4></b>
                                            {{ comment.body[:250]|safe }}.....
                                        </div>
                                        <div class="votes">
                                            <span class="upvote" onclick="vote(this)">▲ {{ comment.upvote }}</span>
                                            <span class="vote-count">0</span>
                                            <span class="downvote" onclick="vote(this)">▼</span>
                                            <span class="reply-button">↩</span>
                                            <span class="save-button"><img src="https://cdn-icons-png.flaticon.com/128/9834/9834913.png" height="19" /></span>
                                        </div>
                                    </div>   
                                </a>
                                <hr class="animated-line">
                            {% endif %}
                        {% endfor %}
                    </div> 
                </div>   
            </div> 
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <center><h2>PARTICIPATIONS</h2></center>
            {% for reply in all_replies: %}
                {% if ( reply.anonymous == 0 and current_page == "comment_profile") or (current_page == "profile") %}
                        <div class="comment-container" style="position: relative;">
                            <div class="user-info">
                                {% if reply.anonymous %}
                                    <img src="https://cdn-icons-png.flaticon.com/512/4123/4123763.png" class="user-icon" />
                                    <div class="username">{{ random_username }}</div>
                                {% else %}
            
                                    {% if reply.subcomment_author.uicon %}
                                        <img src="data:image/jpeg;base64,{{ reply.subcomment_author.uicon|b64encode_image }}"  class="user-icon">
                                    {% else %}
                                        <img src="{{ reply.subcomment_author.icon }}" class="user-icon" />
                                    {% endif %}
            
                                    <div class="username">{{ reply.subcomment_author.username }}</div>
                                {% endif %}
                            </div>
                            <div class="datetime">{{reply.date}}</div>
                                <a href = "{{ url_for('show_comment',comment_id = reply.comment_id) }}">
                                    <div class="comment-content">{{ reply.body | safe}}</div>
                                </a>
                            <div class="votes">
                                <span class="upvote" onclick="vote(this)">▲</span>
                                <span class="vote-count">0</span>
                                <span class="downvote" onclick="vote(this)">▼</span>
                            </div>
                            {% if current_user_id == reply.subcomment_author.id or  current_user_id == 1 or current_user.admin %}
                                <button class="delete-button321" data-target="deletePopup{{reply.id}}" style="position: absolute; bottom: 0; right: 0;">
                                    <div class="cross321">&#10005;</div>
                                </button>
                                
                                <div class="popup321" id="deletePopup{{reply.id}}">
                                    <div class="popup-content321">
                                        <div class="message321">Are you sure you want to delete this reply?</div>
                                        <div class="button-container321">
                                            <form method="POST" action="{{ url_for('delete_reply',reply_id = reply.id) }}">
                                                <button class="yes-button321">YES</button>
                                            </form>
                                            <button class="no-button321">NO</button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="green-strip" style="position: absolute; border-radius: 16px; top: 0; left: 45%; width: 10%; height: 10px; background-color: {{ reply.color }}; cursor: pointer;"></div>
                        </div>
                {% endif %}
            {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

            <h2><center>SENTIMANT</center></h2>
            {% if length > 0 %}
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript">
                    google.load("visualization", "1", {packages:["corechart"]});
                    google.setOnLoadCallback(drawPieChart);
                    function drawPieChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Platform','Reach'],
                            ['Neutral',{{neutral}}],
                            ['Positive',{{plus}}],
                            ['Negative',{{minus}}],
                        ]);
                        var options = {
                            width: 480,
                            height: 250,
                            colors: ['#d3d3d3', '#90ee90', '#e64522'],
                            is3D: true
                        };
                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        chart.draw(data, options);
                    }
                </script>
            {% endif %}
            <body>
                {% if length %}
                <div id="piechart"></div>
                {% else %}
                    <h3> NO REPLIES FOR ANALYSIS </h3>
                {% endif %}
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            </body>

    </div>
</div>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


           


    
